In [1]:
import numpy as np
import pandas as pd

In [2]:
dates = pd.date_range('2016-12-21', '2016-12-31')

all_stocks = pd.DataFrame(index = dates)

In [3]:
all_stocks

Empty DataFrame
Columns: []
Index: [2016-12-21 00:00:00, 2016-12-22 00:00:00, 2016-12-23 00:00:00, 2016-12-24 00:00:00, 2016-12-25 00:00:00, 2016-12-26 00:00:00, 2016-12-27 00:00:00, 2016-12-28 00:00:00, 2016-12-29 00:00:00, 2016-12-30 00:00:00, 2016-12-31 00:00:00]

In [8]:
data = np.array(range(1,12))

In [18]:
noname = pd.DataFrame({'data': range(1,12)})

In [21]:
all_stocks.join(noname)

                     data
2016-12-21 00:00:00   NaN
2016-12-22 00:00:00   NaN
2016-12-23 00:00:00   NaN
2016-12-24 00:00:00   NaN
2016-12-25 00:00:00   NaN
2016-12-26 00:00:00   NaN
2016-12-27 00:00:00   NaN
2016-12-28 00:00:00   NaN
2016-12-29 00:00:00   NaN
2016-12-30 00:00:00   NaN
2016-12-31 00:00:00   NaN